
<h1>Welcome to CSE Motors!</h1>

<div class="hero">
    <picture id="hero-img">
        <img src="..\images\vehicles\dog-car.jpg" alt="Dog Car">
    </picture>
    <div class="hero-message">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders <br>
        Superman doors <br>
        Fuzzy dice!
        </p>
        <picture id="hero-btn">
            <img src="..\images\site\own_today.png" alt="Own Today">
        </picture>
    </div>
</div>

<div class="grid-main">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="upgrades">
        <h2>Dolerean Upgrades</h2>
        <div class="grid">
            <div class="card">
                <img src="..\images\upgrades\flux-cap.png" alt="Flux Capacitor">
                <p>Flux Capacitor</p>
            </div>
            
            <div class="card">
                <img src="..\images\upgrades\flame.jpg" alt="Flame Decals">
                <p>Flame Decals</p>
            </div>
            
            <div class="card">
                <img src="..\images\upgrades\bumper_sticker.jpg" alt="Bumper Stickers">
                <p>Bumper Stickers</p>
            </div>
            
            <div class="card">
                <img src="..\images\upgrades\hub-cap.jpg" alt="Hub Caps">
                <p>Hub Caps</p>
            </div>
        </div>
    </div>
</div>