/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*General*/
body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

/*Wrapper*/
#wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  background-color: white;
}


/* HEADER STYLE */
#top-header {
  padding: 1.5rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.siteName {
  text-align: left;
  padding: 1rem;
}

.siteName a {
  color: black;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
}

#tools {
  text-align: right;
}

#tools a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

/* END HEADER STYLE */

/* NAVIGATION STYLE */

nav {
  background-color: black;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* END NAVIGATION STYLE */

/* HERO STYLE */
h1 {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1rem 1rem .5rem;
}

#hero-img {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

#hero-img img {
  width: 100%;
  height: auto;
}

.hero-message {
  position: absolute;
  top: 22rem;
  left: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: .5rem;
}

.hero-message h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #006D6F;
  padding: 0;
  margin: 0;
}

.hero-message p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #006D6F;
  padding: 0;
  margin: 0;
}

#hero-btn {
  display: block;
  width: 120px;
}

#hero-btn img {
  width: 100%;
}
/* END HERO STYLE */


/* REVIEWS STYLE */
.reviews {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.reviews ul {
  margin: 0;
}

.reviews li {
   padding: 0.5rem;
}

/* END REVIEWS STYLE */

/* UPGRADES STYLES*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr;
  gap: 1.5rem;
  margin: 1.5rem;
}

.upgrades h2 {
  text-align: left;
  padding: 1rem;
}

.card  {
  border: 1px solid black;
  background-color: #006D6F;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
}

.card img {
  width: 98px;
  height: 95px;
}

.card p {
  margin: 0.3rem;
  color: white;
}

/* END UPGRADES STYLES*/

/* INVENTORY SELECTION GRID DECORATION*/
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 2rem 0;
}

#inv-display li {
  list-style-type: none;
  border: 1px solid rgba(0, 0 , 0, 0.50);
  border-radius: 5px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
}

#inv-display li img{
  width: 100%;
  border-radius: 5px;
}

.namePrice {
  text-align: center;
  border-radius: 8px;
}

.namePrice h2 {
  margin: 0.5rem;
}

.namePrice h2 a {
  color: blue;
  text-decoration: underline;
}
/* END INVENTORY SELECTION GRID DECORATION*/

/* VEHICLE SELECTION STYLE*/
#vehicle-display {
  margin: auto;
  padding: 0;
}

#vehicle-picture {
  width: 400px;
  height: 200px;
  border: 1px solid rgba(0, 0 , 0, 0.50);
  border-radius: 10px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.5);
}

#vehicle-picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#vehicle-information {
  margin: 0;
}

/* END VEHICLE SELECTION STYLE*/

/* FORM STYLE */

form {
  margin: 1rem auto;
  padding: 1rem;
  background-color: #006D6F;
  border-radius: 1rem;
  width: 500px;
  display: grid;
}

fieldset {
  border: white solid 3px;
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

label {
  text-align: left;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.form-control {
  margin: 1rem;
  display: flex;
  flex-direction: column;

}

.button {
  margin: 0.5rem auto;
  color: #006D6F;
  background-color: #fff;
  border-radius: .5rem;
  padding: .75rem;
  text-decoration: none;
  font-size: 1rem;
}

.button:hover {
  background-color: #006D6F;
  color: #fff;
}

fieldset p {
  text-align: center;
}

.link {
  color: lightgreen;
}

input:required:invalid, input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
}
input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}
 
/* END FORM STYLE */

/* ERRORS STYLE */
.notice {
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  color: #000000;
  padding: 0.5rem;
}

.notice li {
  font-style: italic;
  font-size: 0.8rem;
}


@media only screen and (min-width: 768px) {
  body {
    background-image: url("../images/site/checkerboard.jpg");
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;

  }
 
  #wrapper {
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1vw;
    width: 75vw;
    max-width: 1200px;
    border: #006D6F 10px solid;
  }

  .hero-message {
    position: absolute;
    top: 26rem;
    left: 9rem;
  }


  /*GRID MAIN STYLE*/
  .grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0.5rem;
  }

  /* VEHICLE SELECTION STYLE*/
  #vehicle-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
}