<h1>Oh no! 404 - Page not Found</h1>

<div class="hero">
    <picture id="hero-img">
        <img src="..\images\vehicles\dog-car.jpg" alt="Dog Car">
    </picture>
    <div class="hero-message">
        <h3>Now you could:</h3>
        <p>Call your mom<br>
        Do some laundry<br>
        or try it again!
        </p>
        <picture id="hero-btn">
            <img src="..\images\site\own_today.png" alt="Own Today">
        </picture>
    </div>
</div>